<div class="row client-info-background">
  <div class="col-md-1">
    Count
  </div>
  <div class="col-md-1">
    {{client.count}}
  </div>
</div>
<div class="row client-info-background">
  <div class="col-md-1">
    Shares
  </div>
  <div class="col-md-1">
    {{client.shares}}
  </div>
</div>
<div class="row client-info-background">
  <div class="col-md-1">
    Notional
  </div>
  <div class="col-md-1">
    {{client.notional}}
  </div>
</div>
<div class="row client-info-background">
  <div class="col-md-1">
    Commissions
  </div>
  <div class="col-md-1">
    {{client.commissions}}
  </div>
</div>
