<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Navbar</a>
  <form class="form-inline pull-md-right">
    {{#power-select
      selected=selectedClient
      options=clients
      onchange=(action "onClientSelected") as |client|
    }}
      {{client.name}}
    {{/power-select}}
  </form>
</nav>
{{outlet}}
